@media (min-width: 576px) {
    div.karuseru {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    div.karuseru {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    div.karuseru {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    div.karuseru {
        max-width: 1140px;
    }
}

div.karuseru {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

div.carousel.slide {
    display: inline-block;
}

ol.carousel-indicators {
    display: inline-block;
}

ol.carousel-indicators li {
    display: inline-block;
}

@media (min-width: 576px) {
    img.carousel-image {
        width: 450px;
        height: 300px;
    }
}

@media (min-width: 768px) {
    img.carousel-image {
        width: 600px;
        height: 400px;
    }
}

div.details {
    margin-top: 50px;
    border-top: 1px solid #dee2e6;
    padding-top: 50px;
}

p.show-address {
    margin-top: 50px;
}

div.contributor-area {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding-top: 50px;
    padding-bottom: 50px;
}

span.contributor {
    display: inline-block;
}

.user-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
}

.user-icon img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

div.back-to-toppage {
    margin-bottom: 100px;
}