div.create-cafe {
    margin-bottom: 10px;
}

div.form-group {
    margin-bottom: 50px;
}

div.radio-btn {
    margin-bottom: 30px;
}

div.submit {
    margin-top: 30px;
    margin-bottom: 30px;
}

div.cancel {
    margin-bottom: 100px;
}