@media (min-width: 576px) {
    div.image-area {
        max-width: 540px;
    }
    div.cafe-info {
        max-width: 540px;
    }
}

img {
    width: 500px;
    height: 300px;
}

img.image {
    width: 500px;
    height: 300px;
}

div.cafe-info {
    margin-top: 20px;
    font-size: 20px;
}

p.address {
    margin-top: 120px;
}