form.input-group {
    width: 70%;
    margin: 15px auto;
}

div.image-area {
    text-align: center;
}

@media (min-width: 300px) {
    img {
        width: 280px;
        height: 180px;
    }
}

@media (min-width: 400px) {
    img {
        width: 350px;
        height: 250px;
    }
}

@media (min-width: 768px) {
    img {
        width: 500px;
        height: 300px;
    }
}

@media (min-width: 300px) {
    img.image {
        width: 280px;
        height: 180px;
    }
}

@media (min-width: 400px) {
    img.image {
        width: 350px;
        height: 250px;
    }
}

@media (min-width: 768px) {
    img.image {
        width: 500px;
        height: 300px;
    }
}

div.cafe-info {
    margin-top: 20px;
    font-size: 20px;
}

p.address {
    margin-top: 30px;
}

div.pagination {
    justify-content: center;
    margin-bottom: 100px;
}

p.search-not-found {
    color: silver;
}